@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-grey: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-black: hsl(252, 30%, 10%);
  --color-purplish: #4311ee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

nav {
  background: var(--color-white);
}
.contactBtn {
  background: var(--color-white) !important;
  color: var(--color-black) !important;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--color-purplish) !important;
  color: var(--color-white) !important;
}

.Main_Container {
  /* margin-top: 4rem; */
  background-color: var(--color-white);
}
.login-form {
  width: 100%;
  max-width: 30%;
}

.FormDiv_Container {
  padding: 3rem 3rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.mainHeading {
  /* margin-bottom: 2rem; */
}

.emailInput,
.Inputpassword {
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
.LoginBtn {
  border-radius: 0.5rem;
}
.dash {
  margin-top: -0.4rem;
}
.Fgt {
  font-size: 0.8rem;
}
.SignUp_Container {
  /* padding: 2rem 2rem; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .login-form {
    max-width: 50%;
  }
}
@media screen and (max-width: 425px) {
  .login-form {
    max-width: 80%;
  }
}
